* {
  margin: 0;
  padding: 0;
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'SF UI Display';
  background: black;
}

.space {
  width: 100%;
  background: url('../images/bg_games.png') no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
