$gray: #999999;
$mint: #06f0f9;
$blue: #5865f2;
$blueGradient: linear-gradient(136.36deg, #4c00a2 -10.41%, #05eff8 102.44%);
$blueGradientReverse: linear-gradient(
  136.36deg,
  #05eff8 -10.41%,
  #4c00a2 102.44%
);
$greenGradient: linear-gradient(305deg, #a7ff23 -25.18%, #21fffd 100%);

@mixin container() {
  width: 1400px;
}
