@import '../../styles/_variables';

.social {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease;
  background: rgba(#ffffff, 0.1);

  svg {
    transition: 0.3s ease;
    opacity: 0.3;
  }

  &:hover {
    cursor: pointer;
    background: $blue;

    svg {
      opacity: 1;
    }
  }
}
