@import '../../styles/__variables.scss';

.footer__screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('../../images/footer_bg.png') no-repeat;
  background-size: auto 100%;
  background-position: center;

  @include breakpoints('1024') {
    background-size: auto 75%;
    background-position: center bottom;
    padding-top: 120px;
  }

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_heading {
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      line-height: 62px;
      text-align: center;
      text-transform: uppercase;

      color: white;
    }

    &_info {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      margin-top: 11px;
      color: rgba(#ffffff, 0.7);
    }

    &_input {
      width: 600px;
      height: 62px;
      position: relative;
      margin-top: 32px;

      &_field {
        width: 100%;
        height: 100%;
        border: 0;
        outline: none;
        padding: 20px 72px 20px 32px;
        box-sizing: border-box;
        background: #121114;
        border-radius: 31px;

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;

        color: white;
      }

      &_button {
        position: absolute;
        right: 33px;
        top: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -1px;
        left: -1px;
        border-radius: 31px;
        background: $blueGradient;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }
    }

    @include breakpoints('1024') {
      align-items: center;

      &_heading {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
      }

      &_info {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        margin-top: 30px;
      }

      &_input {
        width: 100%;
        margin-top: 30px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 205px 0 55px;

    &_socials {
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        margin: 0 7px;

        svg {
          opacity: 1;
          transform: scale(0.9);
        }
      }
    }

    &_copy {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      color: $blue_2;
      margin-top: 40px;
    }

    @include breakpoints('1024') {
      margin: 100px 0 40px;

      &_copy {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
