@import '../../styles/_variables';

.header {
  top: 34px;
  left: 50%;
  z-index: 5;
  position: absolute;
  transform: translate(-50%, 0);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;
  }

  &__menu {
    display: flex;
    align-items: center;

    &_item {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      transition: 0.3s ease;
      color: rgba(#fff, 0.5);
      position: relative;

      &:not(:last-child) {
        margin-right: 52px;
      }

      &::before,
      &::after {
        opacity: 0;
        transition: 0.3s ease;
        visibility: hidden;
      }

      &:hover {
        color: #fff;

        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: calc(100% + 10px);
        transform: translate(-50%, 0);
        width: 5px;
        height: 20px;
        z-index: 1;
        background: $mint;
        box-shadow: 0px 0px 14px $mint;
        border-radius: 2.5px;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 1px;
        height: 40px;
        left: 50%;
        background-color: rgba(#d8d8d8, 0.3);
        bottom: calc(100% + 10px);
        transform: translate(-50%, 0);
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    & > div {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
