@import '../../styles/_variables';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34px;
  left: 50%;
  z-index: 5;
  position: absolute;
  transform: translate(-50%, 0);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;
  }

  &__menu {
    display: flex;
    align-items: center;

    &_item {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      transition: 0.3s ease;
      color: rgba(#fff, 0.5);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_arrow {
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 11px;
        opacity: 0.5;
      }

      &_container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      $item: &;

      &__menu {
        transition: 0.3s ease;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        padding-top: 14px;
        position: absolute;

        &_container {
          width: 204px;
          display: flex;
          flex-direction: column;
          padding: 4px 0;
          background: #232633;
          border: 1px solid #343043;
          border-radius: 12px;
          overflow: hidden;

          &_item {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            text-transform: none;

            &_image {
              width: 20px;
              height: 20px;
              margin-right: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover {
              background-color: #2b2f3e;
            }
          }
        }
      }

      &:not(:last-child) {
        margin-right: 52px;
      }

      &::before,
      &::after {
        opacity: 0;
        transition: 0.3s ease;
        visibility: hidden;
      }

      &:hover {
        color: #fff;

        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
        }

        #{$item} {
          &_arrow {
            opacity: 1;
          }

          &__menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: calc(100% + 10px);
        transform: translate(-50%, 0);
        width: 5px;
        height: 20px;
        z-index: 1;
        background: $mint;
        box-shadow: 0px 0px 14px $mint;
        border-radius: 2.5px;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 1px;
        height: 40px;
        left: 50%;
        background-color: rgba(#d8d8d8, 0.3);
        bottom: calc(100% + 10px);
        transform: translate(-50%, 0);
      }
    }

    @include breakpoints('1024') {
      display: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    & > a {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @include breakpoints('1024') {
    top: 30px;
  }
}
