@import '../../styles/__variables.scss';

.advantage__screen {
  width: 100%;
  min-height: 100vh;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  &__container {
    display: grid;
    position: relative;
    column-gap: 90px;
    justify-content: space-between;
    grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4);
    grid-template-rows: 1fr;

    &:nth-child(2) {
      justify-content: center;
      grid-template-columns: calc(100% / 4) calc(100% / 4);
      margin-top: 90px;
    }

    @include container;
  }

  &_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      margin-top: 21px;
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: $gray;
      margin-top: 18px;
    }
  }

  @include breakpoints('1024') {
    margin-top: 120px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &_block {
      align-items: flex-start;

      h4 {
        font-size: 36px;
        line-height: 42px;
        margin-top: 20px;
        text-align: left;
      }

      p {
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        margin-top: 20px;

        br {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 73px;
      }
    }
  }
}
